@import url(https://fonts.bunny.net/css?family=Roboto+Mono);

.resume body {
    font-family: 'Roboto Mono', monospace;
}

.resume div#content, .resume div#content p {
    font-family: 'Roboto Mono', monospace;
}

.resume div#content h1 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 0px;
}

.resume div#content h2 {
    margin-block-end: 0;
    text-align: center;
}

.resume div#content h3 {
    margin-block-end: 0;
}

.resume div#content p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.resume ul {
    padding-inline-start: 12px;
    text-indent: -4px;
}

.resume ul li {
    list-style: none;
}

.resume th {
    font-size: 24px;
    padding-top: 12px;
    text-align: left;
}

.resume th.right, .resume td.right {
    font-size: 16px;
    text-align: right;
    width: 240px;
}

.resume td ul {
    margin-top: 4px;
}

.resume tr.client {
    font-weight: bold;
}

.resume tr.client td {
    padding-left: 12px;
}

.resume td {
    padding-left: 24px;
}